* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

body {
  background-color: black;
  color: white;
}

label {
  display: block;
}

input,
label {
  margin: 0.4rem 0;
}

.terminal-line {
  display: flex;
  flex-direction: row;
  input {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
