@font-face {
  font-family: "Source Code Pro";
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
}
body {
  font-family: "Source Code Pro";
}

.content {
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container for the scrolling text */
.scroll-container {
  position: relative;
  width: 100%;
  height: 2rem; /* Adjust based on text size */
  overflow: hidden;
}

/* Scrolling text */
.text-art {
  position: absolute;
  white-space: pre;
  font-family: monospace;
  font-size: 1.5rem;
  line-height: 2rem; /* Match container height */
  padding-left: 100%; /* Start off-screen to the right */
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(-100%);
  }
}


/* code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.ascii-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
}

pre {
  margin: 0;
}

code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 0.3rem;
  line-height: 1;
}

@media (min-width: 768px) {
  code {
    font-size: 1rem;
  }

  .text-art {
    font-size: 2rem;
  }

  .content {
    font-size: 6rem;
  }
}